h1{
    color: darkslateblue;
    font-size: 60px;
    background-color: #b0c4de;
}

h2{
    color: firebrick;
}

ol{
    color: gold;
}

ul{
    color: sandybrown;
}

h3{
    color: chocolate;
}

p.firstParagraph{
    color:yellow;
}

p{
    color: lightgreen;
}

a:hover{
    color: hotpink;
}

#boxModel{
    background-color: deeppink;
    width: 300px;
    border: 25px solid orange;
    padding: 25px;
    margin: 25px;
}

html{
  background-image: url("cafeimage.jpg");
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}