h1{
    color: darkslateblue;
    font-size: 60px;
    background-color: #b0c4de;
}

p.firstParagraph{
    color:yellow;
}

a:hover{
    color: hotpink;
}

#boxModel{
    background-color: deeppink;
    width: 300px;
    border: 25px solid orange;
    padding: 25px;
    margin: 25px;
}

body{
  background-image: url("cafeimage.jpg");
}