h1{
    color: yellow;
    font-size: 60px;
    background-color: #b0c4de;
}

p.firstParagraph{
    color:red;
}

a:hover{
    color: hotpink;
}

#boxModel{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid purple;
    padding: 25px;
    margin: 25px;
}

body{
  background-image: url("WIN_20160907_14_03_07_Pro.jpg");
}